body.login-pf {
    font-family: sans-serif !important;
    background: url("backdrop.jpg") no-repeat 50% 0 !important;
    background-size: cover !important;
}

#brand {
    font-size: 18pt;
    text-transform: uppercase;
}

#brand:before {
    content: "${PRETTY_NAME}";
}

#badge {
    inline-size: 80px;
    block-size: 80px;
    background-image: url("apple-touch-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
}
